.header-row {
   justify-content: center;
}

.days-row {
    justify-content: space-evenly;
}
.day {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.plans {
    display: flex;
    justify-content: flex-end;
}
.day-container {
    height: 100px;
    background-color: lightgray;
    box-shadow: black 1px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.day-container p {
    margin: 0;
}

.utility-row {
    flex-direction: column;
    align-items: center;
}

.main-row {
}
.table {
    table-layout: fixed;
    border-collapse: collapse;
}
td, th {
    border: black 1px solid;
    padding: 0.5rem;
    text-align: left;
}

.entry-text {
    display: flex;
    justify-content: center;
}

.form-class {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-area {
    width: 45%
}

.modal-overlay {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

.modal-title {
    display: flex;
    justify-content: center;
}

.modal {
    margin: auto;
    background-color: cornflowerblue;
    width: 45%
}
.delete-modal {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 50%;
    background-color: cornflowerblue;
    align-items: center;
}

.delete-modal-title, .delete-modal-text {
    display: flex;
    justify-content: center;
}

.delete-modal-buttons {
    display: flex;
    justify-content: space-around;
}

.entry-selection {
    display: flex;
    justify-content: space-evenly;
    width: 80%
}

.hidden {
    display: none;
}
